doctype html
html
  head
    //- import jquery
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js')
    
    //- import bootstrap js
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")

    //- import socket.io
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.6/socket.io.min.js")
  body
    h2 Fill in the Meeting Info section and add some events using the "+Another Event" button
    table#meeting_table(style='background-color: Brown')
      th
        tr
          td
            h2 Meeting Info:
        tr
          td
            | Meeting Name:
            input#common_meeting_name(type='text')
        tr
          td
            | Meeting ID:
            input#common_meeting_id(type='text')
        tr
          td
            | Session:
            input#common_session(type='text')
    input#clear_meeting_info(type='button', value='Clear fields', onclick='return clearMeetingInfo();')

    h2 Send Event JSON
    
    #table_2

    #table_3
    input#button_for_more_events(type='button', value='+Another Event', style="background-color:Green")


    form#send-form
      
    script(src="javascripts/main.js")
